/* - - - - - - STYLE VARIABLES - - - - - - */
:root { 
    /* Color palette Light */
    --L1: #e9ecef;
    --L2: #212529;   
    --L3: #495057;
    --L4: #343a40;
    --L5: #e9ecef;
    --L6: #6c757d;
    --L7: #e9ecef;
    --L8: #adb5bd;
    --L9: #495057;
    --L10: #dee2e6;
    --L11: #495057;
    --L12: #f8f9fa;
    --L13: red;
    --L14:#6c757d3f;
    /* Color palette Dark */
    --D1: #303030;
    --D2: #9f9f9f;   
    --D3: #7a7a7a;
    --D4: #7a7a7a;
    --D5: #343434;
    --D6: #575757;
    --D7: #343434;
    --D8:  #464646;
    --D9:  #9f9f9f;
    --D10: #363636;   
    --D11: #9f9f9f; 
    --D12: #232323;
    --D13:rgb(241, 98, 98);
    --D14:#6969693f;
    /* Color assignments */
    --background: var(--L1);
    --font-color: var(--L2);   
    --social-icons: var(--L3);
    --side-button-1: var(--L4);
    --side-button-1-font: var(--L5);
    --side-button-2: var(--L6);
    --side-button-2-font: var(--L7);
    --side-button-3: var(--L8);
    --side-button-3-font: var(--L9);
    --side-button-4: var(--L10);
    --side-button-4-font: var(--L11);
    --footer: var(--L12);
    --resume-download: var(--L13);
    --box-shadow: var(--L14);
    --name: rgb(202, 172, 1);
}

/* - - - - - - MAIN STYLE - - - - - - */
*{
    /* border: 1px solid black; */
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;    
    background-color: var(--background);
    color: var(--font-color);
    text-align: center;
}
h1 {
    font-size: 3em;
}
ion-icon {
    color: var(--social-icons);
}
.dark {
    display: none;
}
.light {
    display: block;
}

/* - - - - - - HEADER STYLE - - - - - - */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--footer);
}
.header {
    height: 8vh;
    min-height: 40px;
    display: flex;
    align-items: center;
    z-index: 2;
}
    .header div {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .head-left, .logo {margin-right: auto;}
    .head-right, .resume {margin-left: auto;}

        .head-button {
            border: 1vh red;
        }
        .head-left {
            border-right: 1vw red;
        }
        .head-right {
            border-left: 1vw red;
        }
        .logo {
            width: 100%;
        }
            .logo-img {
                width: auto;
                height: 7vh;
                padding: 0;
                margin: 0;
            }
        .resume {
            height: 7vh;
        }
            .resume a {
                color: var(--resume-download);
                text-decoration: none;
                padding: 1vh;
                border-radius: 0.5vh;
                border: 1vh var(--resume-download);
            }
                .resume ion-icon {
                    vertical-align: middle;
                    color: var(--resume-download);
                    border: none;
                }

/* - - - - - - MAIN STYLE - - - - - - */
.main {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
}
#main-display {
    display: flex;
    flex: 1;
    height: 100%;
    min-height: 500px;
}
/* side buttons */
.right-side {
    writing-mode: vertical-lr;
}
.left-side {
    transform: scale(-1,-1);
    writing-mode: vertical-rl;
}
    #on-left, #on-right {
        display: flex;
        height: 100%;
        padding: 0;
        width: fit-content;
    }
    #on-left h1, #on-right h1 {
        margin: 0;
        font-size: 1.8em;
        padding: 0.2em;
    }
    #off-left, #off-right {
        display: none;
    }
        #off-left h1, #off-right h1 {
            display: none;
        }
            #L1, #R5 {
                background-color: var(--side-button-1);
                color: var(--side-button-1-font);
            }
            #L2, #R4 {
                background-color: var(--side-button-2);
                color: var(--side-button-2-font);
            }
            #L3, #R3 {
                background-color: var(--side-button-3);
                color: var(--side-button-3-font);
            }
            #L4, #R2 {
                background-color: var(--side-button-4);
                color: var(--side-button-4-font);
            }
/* sections */
#main-display section {
    display: none;
}
    #main-display section:first-of-type {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        margin-top: 5vh;
    }
/* bio */
#bio-img {
    height: 20vh;
    min-height: 100px;
    width: 20vh;
    min-width: 100px;
}
    #bio div {
        width: 100%;
        align-items: center;
    }    
    #bio img {
        height: 30vw;
        min-height: 80px;
        width: auto;
        min-width: 80px;
        margin: 2vw;
    }
    .education-section img {
        box-shadow: -1vw 1vw 1vw rgba(0, 0, 0, 0.35),1vw 1vw 1vw rgba(0, 0, 0, 0.35);
    }
    .interests-section img {
        float: right;
    }
    .hobby-section {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0;
    }
        #hobby1 {
            float: left;
        }
        #hobby2 {
            float: right;
        }
/* projects */
.projects-carousel {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 auto;
}
    .projects-carousel ion-icon {
        height: 10vh;
        width: 4vw;
        margin: 2vh;
    }
    .project-imgs {
        display: flex;
        flex: 1;
        align-items: center;
    }
        .project-imgs img {
            display: none;
        }
            .project-imgs img:first-of-type {
                display: block;
                height: 50vh;
                min-height: 300px;
                width: 40vw;
                min-width: 240px;
            }
        /* modal for projects */
        .modal-project {
            background-color: rgba(0,0,0,0.4);
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            overflow: auto;
            visibility: hidden;  
        }
            .modal-box {
                background-color: white;
                position: absolute;
                height: 50vh;
                width: 40vw;
                border-radius: 1vh;
                top: 25%;
                left: 28%;
                box-shadow: 1vh 1vh 1vh 1vh var(--box-shadow), -1vh 1vh 1vh 1vh var(--box-shadow),
                            1vh -1vh 1vh 1vh var(--box-shadow), -1vh -1vh 1vh 1vh var(--box-shadow);
                padding: 2%;
                line-height: 120%;
                z-index: 1;
            } 
                .modal h2 {
                    font-size: 1em;
                }
                .modal p {
                    font-size: 1em;
                }
/* Home */
.background {
    pointer-events: none;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100%;
    z-index: -1;
    opacity: 50%;
}

/* Experiences */
#experiences {
    justify-content: space-around;
}
    #experiences div {
        width: 100%;
    }
    .exp1-img {
        height: 10vw;
        min-height: 80px;
        width: auto;
        float: left;
        margin-left: 10vw;
    }
    .exp2-img {
        height: 10vw;
        min-height: 80px;
        width: auto;
        float: right;
        margin-right: 10vw;
    }
    .exp3-img {
        height: 4vh;
        min-height: 32px;
        width: auto;
    }
    
/* Contact */
.profile-img {
    height: 25vh;
    min-height: 200px;
    width: auto;
    border-radius: 1vh;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.35),-1vh 1vh 1vh rgba(0, 0, 0, 0.35);
    margin: 3vh;
}
.social-contact {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 3vw;
} 
    .social-contact div {
        margin: 3vw;
    }
        .social-contact ion-icon {
            height: 10vh;
            min-height: 50px;
            width: 10vh;
            min-width: 50px;
        }
    #email {
        display: flex;
        align-items: center;
    }
    #email ion-icon{
        height: 6vh;
        min-height: 30px;
        width: 6vh;
        min-width: 30px;
        margin: 0 3vw;
    }
.contact-logo {
    width: 30vh;
    height: 30vh;
    min-height: 100px;
    min-width: 100px;
    margin: 3vh;
}

/* - - - - - - FOOTER STYLE - - - - - - */
.footer {
    width: 100%;
    height: 6vh;
    min-height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--footer);
}
    .footer div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 100%; */
    }
    div.footer-text, div.dark-mode, div.social-media {
        height: 100%;
    }
/* social media */
.social-media {
    max-width: 12em;
}
    .line {
        border: 3px solid var(--font-color);
        background-color: var(--font-color);
        border-bottom-right-radius: 1vh;
        border-top-right-radius: 1vh;
        height: 0.1vh;
        width: 100px;
        margin-right: 10px;
    }
    .social-media ion-icon {
        vertical-align: middle;
        margin: 5px;
        font-size: 1.3em;
        color: var(--font-color);
    }

/* text */
.footer-text span {
    color: var(--name);
    text-decoration: underline;
}

/* dark-mode */
label {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-right: 1vw;
}
    label input {
        opacity: 0;
        width: 0;
        height: 0;
    }
        input:checked + .slider {
            background-color: #ccc;
        }
        input:checked + .slider:before {
            transform: translateX(10px);
        }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--font-color);
    border-radius: 10px;
    transition: .4s;
}
    .slider:before {
        position: absolute;
        content: '';
        height: 15px;
        width: 15px;
        left: 2px;
        bottom: 1px;
        top: 1px;
        background-color: white;
        border-radius: 50%;
        transition: .4s;
    }

/* MEDIA QUERY */  
@media screen and (max-width: 600px) {
    .logo-img {
        height: 4vh;
    }
    #on-left, #on-right {
        display: none;
    }
    .social-media {
        max-width: 20vw;
    }
    .footer-text {
        font-size: 0.8em;
    }
}